{% extends 'index.html' %}
{% block title %} Forgot Password {% endblock title %}
{% block body %}
<div class="flex justify-center items-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-[768px] max-w-sm">
        <div class="text-2xl font-bold mb-4 text-left">Forgot Password</div>
        <form method="post" id="otp-form">
            {% csrf_token %}
            <p class="text-left mb-4">
                <a href="{% url 'homePage' %}" class="text-color hover:underline">Back To Login</a>
            </p>
            <div class="mb-4">
                <input type="email" placeholder="Enter Your Email Address" id="email" name="email" required class="w-full p-2 border rounded" />
            </div>
            <button type="submit" id="submit-btn" class="file-submit-btn w-full text-white p-2 rounded">Generate OTP</button>
        </form>
    </div>
</div>
{% endblock body %}
