{% extends 'index.html' %}
{% block title %} Password Update {% endblock title %}
{% block body %}
<div class="flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-[768px] max-w-sm">
        <div class="text-2xl font-bold mb-4 text-left">Password Update</div>
        <form method="post" id="otp-form">
            {% csrf_token %}
            <p class="text-left mb-4">
                <a href="{% url 'homePage' %}" class="text-color hover:underline">Back To Login</a>
            </p>
            <div class="mb-4">
                <input type="password" placeholder="New Password" id="password" name="password" required class="w-full p-2 border rounded" />
            </div>
            <div class="mb-4">
                <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password" required class="w-full p-2 border rounded" />
            </div>
            <button type="submit" id="submit-btn" class="file-submit-btn w-full text-white p-2 rounded">Submit</button>
        </form>
    </div>
</div>
{% endblock body %}
